<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout2">
<style>
.originalLike {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
</style>
<section layout:fragment="content">
	<div class="container">
		<div class="card-body">
		<h2 th:text="'Your request'"></h2>
			<form class="form-inline" th:method="post" th:action="@{/book}">
				<div class="form-group">
					<label for="for" class="sr-only">City</label> <input
						id="for" type="text" th:placeholder="${city}"
						class="mr-3 form-control" disabled="disabled" th:name="city">
				</div>
				<div class="form-group">
					<label for="inlineFormInputGroup" class="sr-only">From</label>
					<input id="inlineFormInput1Group" type="text" th:placeholder="${from}"
						class="mr-3 form-control form-control" disabled="diabled" th:name="from">
				</div>
				<div class="form-group">
					<label for="inlineFormInputGroup" class="sr-only">To</label>
					<input id="inlineFormInput2Group" type="text" th:placeholder="${to}"
						class="mr-3 form-control form-control" disabled="diabled" th:name="to">
				</div>
				<div class="form-group">
					<label for="inlineFormInputGroup" class="sr-only">Capacity</label>
					<input id="inlineFormInputGroup" type="text" th:placeholder="${capacity}"
						class="mr-3 form-control form-control" disabled="diabled" th:name="capacity">
				</div>
			</form>
		</div>
		<!-- Daily Feed Widget-->
		<div id="daily-feeds" class="card updates daily-feeds">
			<div id="feeds-header"
				class="card-header d-flex justify-content-between align-items-center">
				<h2 class="h5 display">
					<a data-toggle="collapse" data-parent="#daily-feeds"
						href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">Hello</a>
				</h2>
			</div>
			<div id="feeds-box" role="tabpanel" class="collapse show">
				<div class="feed-box" th:each="room : ${rooms}">
					<ul class="feed-elements list-unstyled">
						<!-- List-->
						<li class="clearfix">
							<div class="feed d-flex justify-content-between">
								<div class="feed-body d-flex justify-content-between"
									th:if="${room?.image?.path}">
									<img th:src="@{|${room.image.path}|}" alt="room pic"
										class="img-fluid" style="width: 200px; height: 190px">
									<div class="content" style="margin-left: 50px">
										<div class="row">

											<div class="col" th:if="${room?.name}">
												<small th:text="'Room name'"></small><strong
													th:text="${room.name}">name</strong>
											</div>

											<div class="col" th:if="${room?.area}">
												<small th:text="'Room area'"></small><strong
													th:text="${room.area}">name</strong>
											</div>
											<div class="col" th:if="${room?.price}">
												<small th:text="'Price per day'"></small><strong
													th:text="${room.price} + ' $'">name</strong>
											</div>
											<div class="col" th:if="${room?.owner}">
												<small th:text="'Room owner'"></small><strong
													th:text="${room.owner.lastName} + ' '+${room.owner.firstName}">name</strong>
											</div>
											<div class="col" th:if="${room?.hotel}">
												<small th:text="'Hotel'"></small><strong
													th:text="${room.hotel.name}">name</strong>
											</div>
										</div>
										<br>
										<div class="row">

											<div class="col-lg-4" th:if="${room?.localization?.country}">
												<small th:text="'Country'"></small><strong
													th:text="${room.localization.country}">name</strong>
											</div>

											<div class="col-lg-4" th:if="${room?.localization?.city}">
												<small th:text="'City'"></small><strong
													th:text="${room.localization.city}">name</strong>
											</div>
											<div class="col-lg-4" th:if="${room?.localization?.street}">
												<small th:text="'Street'"></small><strong
													th:text="${room.localization.street}">name</strong>
											</div>
										</div>
									</div>
								</div>
								<div class="date" th:if="${room?.added}">
									<small th:text="${room.added}">5min ago</small>
									<div>
										<a th:href="@{'/book/confirm/{id}/{from}/{to}'(id=${room.id},from=${from}, to=${to})}" class="btn btn-success">
											Book <span class="fa fa-pencil"></span>
										</a>
									</div>
								</div>
							</div>
						</li>
						<!-- List-->
					</ul>
				</div>
			</div>
		</div>
		<!-- Daily Feed Widget End-->
	</div>
</section>
</html>