<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorator="layout2">

<section layout:fragment="content">

	<section class="dashboard-counts section-padding" >
			<div class="container-fluid">
				<div align="center">
						<div class="wrapper count-title d-flex">
							
							<div class="row" align="center">
							<div class="name col" th:if="${currUser.ownerReq == false and currUser.managerReq == false}">
								<strong class="text-uppercase" th:text="'Upgrade your account to Owner'">Upgrade</strong><span th:text="'This will allow you to rent your apartment'">Upgrade cd</span>
								<div class="count-number"><a th:href="@{'/user/profile/requests/upgrade/{username}' (username=${currUser.username})}"
				class="btn btn-success"> Send request<span class="fa fa-pencil"></span></a></div><div class="icon">
								<i class="icon-user"></i>
							</div>
							</div>
							
							<div class="name col" th:if="${currUser.enableReq == false}">
								<strong class="text-uppercase" th:text="'Get permision to use your account'">Get enabled</strong><span th:text="'This will allow you to book the apartment or room. Please complete your personal details first.'">Upgrade cd</span>
								<div class="count-number"><a th:href="@{'/user/profile/requests/enable/{username}' (username=${currUser.username})}"
				class="btn btn-success"> Send request<span class="fa fa-pencil"></span></a></div><div class="icon">
								<i class="icon-bill"></i>
							</div>
							</div>
							<div class="name col" th:if="${currUser.managerReq == false and currUser.ownerReq == false}">
								<strong class="text-uppercase" th:text="'Upgrade your account to Hotel Manager'">Upgrade</strong><span th:text="'This will allow you to give offers of your hotel rooms.'">Upgrade cd</span>
								<div class="count-number"><a th:href="@{'/user/profile/requests/manager/{username}' (username=${currUser.username})}"
				class="btn btn-success"> Send request<span class="fa fa-pencil"></span></a></div><div class="icon">
								<i class="icon-bill"></i>
							</div>
							</div>
							
							</div>
						</div>
				</div>
			</div> 
		</section><hr>
<section class="dashboard-counts section-padding">	
		<div class="card data-usage text-primary"
			style="margin-bottom: 25px; text-align: center">
			<h2>Personal details</h2>
		</div>
		<div class="container-fluid">
			<div th:if="${message}">
				<h2 th:text="${message}">mess</h2>
			</div>
			<div th:if="${currUser?.image?.path}">
			<img th:src="@{${currUser.image.path}}" alt="User avatar"
				style="border-radius: 50%; margin-left: auto; margin-right: auto; width: 15%; display: block"></div>
		</div>
		<div class="line">
			<div align="center">
				<a href="#upload" aria-expanded="false" data-toggle="collapse">
					<i class="icon-interface-windows"></i>Change avatar
				</a>
				<ul id="upload" class="collapse list-unstyled ">
					<li><form method="POST" th:action="@{/user/upload}"
							enctype="multipart/form-data">
							<input type="file" th:name="file"><br/>
							<br/> <input type="submit" value="Submit"/>
						</form></li>
				</ul>			
			</div>
			<hr>
			<div class="row">

				<!-- Count item widget-->
				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-user"></i>
						</div>
						<div class="name" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
							<strong class="text-uppercase">First name</strong> <strong
								class="text-uppercase">Last name</strong> <strong
								class="text-primary"
								th:text="${currUser.firstName != null} ? ${currUser.firstName} : 'First name'">first
								name</strong> <strong class="text-primary"
								th:text="${currUser.lastName != null} ? ${currUser.lastName} : 'Last name'">Last
								name</strong>
						</div>
					</div>
				</div>

				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="name" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER', 'ROLE_OWNER')">
							<strong class="text-uppercase" th:text="'Email adress'">Email</strong>
							<strong class="text-primary" th:text="${currUser.email}">email</strong>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="name" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
							<strong class="text-uppercase" th:text="'Phone number'">PHone</strong>
							<strong class="text-primary" th:text="${currUser.phoneNumber}">phone</strong>
						</div>
					</div>
				</div>
				<!-- Count item widget-->
				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-padnote"></i>
						</div>
						<div class="name" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
							<strong class="text-uppercase" th:text="'Active since'">Active
								since</strong> <strong class="text-primary" th:text="${currUser.created}">date</strong>
						</div>
					</div>
				</div>
				<!-- Count item widget-->
				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="name"sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
							<strong class="text-uppercase" th:text="'Average rate'">Rate</strong>
							<strong class="text-primary" th:text="${currUser.rate}">date</strong>
						</div>
					</div>
				</div>
				<!-- Count item widget-->
				<div class="col-xl-2 col-md-4 col-6">
					<div class="wrapper count-title d-flex">
						<div class="icon">
							<i class="icon-bill"></i>
						</div>
						<div class="name" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
							<strong class="text-uppercase" th:text="'Address'">Address</strong>
							<span
								th:text="${currUser.country != null} ? ${currUser.country} : 'Country'">Country</span>
							<span
								th:text="${currUser.city != null} ? ${currUser.city} : 'City'">City</span>
							<span
								th:text="${currUser.street != null}? ${currUser.street} : 'Street'">Street
								number</span> 
						</div>
					</div>
				</div>
				<!-- Count item widget-->
			</div>
		</div>
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_MANAGER','ROLE_OWNER')">
			<a th:href="@{'/user/profile/edit'(username=${currUser.username})}"
				class="btn btn-success"> Edit <span class="fa fa-pencil"></span></a>
		</div>
		</section>
</section>
</html>
